

/* 心形动画 */
.throb {
    font-style: normal;
    font-weight: normal;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
  
    -webkit-animation-name: scaleDraw; /*关键帧名称*/
    -webkit-animation-timing-function: ease-in-out; /*动画的速度曲线*/
    -webkit-animation-iteration-count: infinite;  /*动画播放的次数*/
    -webkit-animation-duration: 5s; /*动画所花费的时间*/

}





@keyframes scaleDraw {  /*定义关键帧、scaleDrew是需要绑定到选择器的关键帧名称*/
            0%{
                transform: scale(1);  /*开始为原始大小*/
            }
            25%{
                transform: scale(1.5); /*放大1.1倍*/
            }
            50%{
                transform: scale(1);
            }
            75%{
                transform: scale(1.5);
            }
        }





/*底部笑脸*/

.my-face {
    display: inline-block;
    margin: 0 5px;    

    -webkit-animation: my-face infinite 1s ease both;
    -moz-animation: my-face infinite 1s ease both;
    
}

    @-moz-keyframes my-face{
        0%{-moz-transform:scale(1);}
        10%,20%{-moz-transform:scale(0.9) rotate(-10deg);}
        30%,50%,70%,90%{-moz-transform:scale(1.2) rotate(10deg);}
        40%,60%,80%{-moz-transform:scale(1.2) rotate(-10deg);}
        100%{-moz-transform:scale(1) rotate(0);}
       }

    @-webkit-keyframes tada{
        0%{-webkit-transform:scale(1);}
        10%,20%{-webkit-transform:scale(0.9) rotate(-3deg);}
        30%,50%,70%,90%{-webkit-transform:scale(1.2) rotate(3deg);}
        40%,60%,80%{-webkit-transform:scale(1.2) rotate(-3deg);}
        100%{-webkit-transform:scale(1) rotate(0);}
    }






/*每日一言*/
/*
#lwlhitokoto {
    padding: 1px;
    position: relative;
    bottom: -30px;
}
*/
