/*loading*/

.loading {
     position:fixed;
     left:0;
     top:0;
     width:100%;
     height:100%;
     background:#66ceff;
     visibility:hidden;
     opaticy:0;
     -webkit-animation:loading 3s linear;
     z-index:99999;
}
.loading img{
    width:150px;
    height:150px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:-100px;
    margin-top:-100px;
}
.loading>span{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left:40px;
}

@-webkit-keyframes loading {
    0%{opacity:1;visibility:visible;}
    90%{opacity:0.2; visibility: visible;}
    50%{opacity:0.5; visibility: visible;}
    100%{opacity:0;visibility:visible;}
}

/*loading-end*/