<%- partial('_partial/archive', {pagination: 2, index: true}) %>
 <!-- 开场动画 -->
  <!--loding-->
  <% if(theme.loading_gif) {%>
    <div class="loading">
        <img src="<%= theme.loading_gif%>">
        <span style="color:white"><span class="self_point">喵喵喵喵</span></span>
    </div>
    <% } %>
  <!--loding end-->