<div class="utterances"></div>
<style>
    .v .vwrap {
      border: 1px dashed #c4bfbf
    }
  
    .v .vwrap .vheader .vinput {
      border-bottom: 1px dashed #c4bfbf
    }
</style>
<script src="https://utteranc.es/client.js"
        repo='<%- theme.utterances.repo %>'
        issue-term="title"
        label="comment✨💬✨"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
