<div class="nexmoe-widget-wrap">
    <h3 class="nexmoe-widget-title"><%= __('search') %></h3>
    <div class="nexmoe-widget nexmoe-search">
        <form class="site-search-form">
            <input type="text" id="local-search-input" class="st-search-input" />
        </form>
        <div id="local-search-result" class="local-search-result-cls">
        </div>
    </div>
</div>

<!-- 执行本地搜索脚本 -->
<script type="text/javascript">
    var path = "/search.xml";
    searchFunc(path, 'local-search-input', 'local-search-result');
</script>

<style type="text/css">
/* 搜索条 */
.site-search-form {
    text-align: center;
}
#local-search-input {
    width: 100%;
}

/* 搜索结果关闭 */
#local-search-close {
    font-size: 22.5px;
    cursor: pointer;
    color: #ff4e6a;
}

.search-result-list > li {
    line-height: 0.75;
    margin-top: -5px;
}

</style>